# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.venv/

# Logs e saída
logs/
*.log
saida/

# Arquivos locais
config.json

# Arquivos temporários do Office
~$*.docx
~$*.xlsx

# Sistema
.DS_Store
Thumbs.db